@using KillerFUNwebApp1._0.Models;
@model Player

@{
    ViewBag.Title = "Player";
}

<h1>Player statistics</h1>
<div class="table table-striped">
    <div class="row">
        <label class="col-lg-4"><b>Stat</b></label>
        <label class="col-lg-4"><b>Level / Progress</b></label>
        <label class="col-lg-4" id="lvlup"><b>LevelUp</b></label>
    </div>
    <div class="row">
        <label class="col-lg-4">Name</label>
        <label class="col-lg-4">@Model.Name</label>
    </div>
    <div class="row">
        <label class="col-lg-4">Class</label>
        <label class="col-lg-4">@Model.Class.ToString()</label>
    </div>
    <div class="row">
        <label class="col-lg-4">Level</label>
        <label class="col-lg-4">@Model.Level</label>
    </div>
    <div class="row">
        <label class="col-lg-4">XP</label>
        <label class="col-lg-4">@(Model.XP) / @(Model.Level * (Model.Level + 5))</label>
    </div>
    <div class="row">
        <label class="col-lg-4">Health</label>
        <label class="col-lg-4">@Model.Health</label>
    </div>
    <div class="row">
        <label class="col-lg-4">Max Health</label>
        <label class="col-lg-4">@Model.MaxHealth</label>
        <input type="button" class="col-lg-4" id="lvlupmaxhealth" value="Levelup">
    </div>
    <div class="row">
        <label class="col-lg-4">Attack</label>
        <label class="col-lg-4">@Model.Attack</label>
        <input type="button" class="col-lg-4" id="lvlupattack" value="Levelup">
    </div>
    <div class="row">
        <label class="col-lg-4">Defence</label>
        <label class="col-lg-4">@Model.Defence</label>
        <input type="button" class="col-lg-4" id="lvlupdefence" value="Levelup">
    </div>
</div>

<form method="post">
    <input type="submit" name="btnPress" value="To the map" />
</form>

@section scripts
{
    <script language="javascript">
        $(function () {
            var player = {};
            $.get('/Map/GetPlayer', function (data) {
                player = $.extend(true, player, data);

                if (player.XP <= (player.Level * (5 + player.Level))) {
                    $('#lvlup, #lvlupattack, #lvlupdefence, #lvlupmaxhealth').addClass('hidden');
                }
            });
            console.log(player);

            $('#lvlupmaxhealth').click(function () {
                $.post('/Map/LvlUp', { stat: "max_hp" });
                location.reload(true);
            });
            $('#lvlupattack').click(function () {
                $.post('/Map/LvlUp', { stat: "attack" });
                location.reload(true);
            });
            $('#lvlupdefence').click(function () {
                $.post('/Map/LvlUp', { stat: "defence" });
                location.reload(true);
            });
        });
    </script>
}
